.my-container-class{
    z-index: 99999;
    opacity: 0.8;
}



  .image-in-table img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
}

.image-in-table img:hover{
    width: 60px;
    height: 60px;
    transition: 0.4s;
    z-index: 99;
    position: absolute;
}